<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.majiang.community.mapper.QuestionExtMapper">
  <resultMap id="BaseResultMapExt" type="com.majiang.community.model.Question">
      <constructor>
          <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
          <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
          <arg column="gmt_create" javaType="java.lang.Long" jdbcType="BIGINT" />
          <arg column="gmt_modified" javaType="java.lang.Long" jdbcType="BIGINT" />
          <arg column="creator" javaType="java.lang.Long" jdbcType="BIGINT" />
          <arg column="comment_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
          <arg column="view_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
          <arg column="like_count" javaType="java.lang.Integer" jdbcType="INTEGER" />
          <arg column="tag" javaType="java.lang.String" jdbcType="VARCHAR" />
      </constructor>
  </resultMap>

    <sql id="Base_Column_List">
        id, title, gmt_create, gmt_modified, creator, comment_count, view_count, like_count,
    tag
    </sql>

  <update id="incView" parameterType="com.majiang.community.model.Question">
    update question
    set
    view_count = view_count + #{viewCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <update id="incCommentCount" parameterType="com.majiang.community.model.Question">
    update question
    set
    comment_count = comment_count + #{commentCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectRelated" parameterType="com.majiang.community.model.Question" resultMap="BaseResultMapExt">
        select
        <include refid="Base_Column_List" />
        from question where id != #{id} and tag regexp #{tag}
    </select>

    <select id="countBySearch" parameterType="com.majiang.community.DTO.QuestionQueryDTO" resultType="java.lang.Integer">
        select count(*) from question
        <where>
            <if test="search != null">
                and title regexp #{search}
            </if>
        </where>
    </select>

    <select id="selectBySearch" parameterType="com.majiang.community.DTO.QuestionQueryDTO" resultMap="BaseResultMapExt">
        select
        *
        from question
        <where>
            <if test="search != null">
                and title regexp #{search}
            </if>
        </where>
        order by gmt_create desc limit #{page}, #{size}
    </select>

</mapper>